terraform {
    required_providers {
        tines = {
        source = "github.com/tuckner/tines"
        version = ">=0.0.13"
        }
    }
}

provider "tines" {
    email    = var.tines_email
    base_url = var.tines_base_url
    token    = var.tines_token
}

resource "tines_story" "{{ data.terraform_name }}" {
    name = "{{ data.name }}"
    team_id = var.team_id
    description = <<EOF
{{ data.description | default('', true) }}
EOF
}

{% for resource in data.global_resources %}
resource "tines_global_resource" "{{ resource }}" {
    name = "{{ resource }}"
    value_type = "text"
    value = "replaceme"
}
{% endfor %}{% for agent in data.agents %}
resource "tines_agent" "{{ agent.terraform_name  }}" {
    name = "{{ agent.name }}"
    agent_type = "{{ agent.type }}"
    story_id = tines_story.{{ data.terraform_name }}.id
    keep_events_for = {{ agent.keep_events_for }}
    source_ids = []
    receiver_ids = [{{ agent.receiver_ids | join(', ') }}]
    position = {
      x = {{ agent.position.x }}
      y = {{ agent.position.y }}
    }
    agent_options = jsonencode({{ agent.options | tojson }})
}
{% endfor %}{% for note in data.diagram_notes %}
resource "tines_note" "note_{{ loop.index0 }}" {
    story_id = tines_story.{{ data.terraform_name }}.id
    content = "{{ note.content }}"
    position = {
      x = {{ note.position[0] }}
      y = {{ note.position[1] }}
    }
}
{% endfor %}
